.navbar {
    background-color: rgba(12, 35, 42, 0.0) !important;
    -moz-transition: background-color 0.3s ease !important;
    -webkit-transition: background-color 0.3s ease !important;
    transition: background-color 0.3s ease !important;
}

.logo-navbar img {
    width: 280px !important;
    -moz-transition: width 0.3s ease !important;
    -webkit-transition: width 0.3s ease !important;
    transition: width 0.3s ease !important;
    background-color: rgba(12, 35, 42, 0) !important;
}

.scrolled {
    background-color: rgba(12, 35, 42, 1) !important;
}

.scrolled img {
    width: 200px !important;
    background-color: rgba(12, 35, 42, 0) !important;
}